/* @import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500;600&display=swap");

body {
}

/* navbar */
header {
  /* position: fixed; */
  top: 0;
  padding: 15px 0;
  width: 100%;
}

nav {
  padding: 0 150px;
  display: flex;
  justify-content: space-between;
}

nav div {
  margin: auto 0;
}

nav div a {
  display: flex;
  text-decoration: none;
  align-items: center;
}
nav div img {
  width: 50px;
  height: auto;
}

nav div h1 {
  font-family: "Yellowtail", cursive;
  font-size: 2.8em;
  height: fit-content;
  color: black;
  margin: 0 15px;
  margin-top: -10px;
}
nav div p {
  font-family: "Cairo", sans-serif;
  font-size: 0.8em;
  color: black;
  text-transform: uppercase;
  margin: 0 15px;
  margin-top: -10px;
}

nav ul li {
  display: inline;
  float: right;
}

nav ul li {
  display: block;
  padding: 15px 1px;
}

nav ul li:nth-child(3) {
  padding-right: 10px;
}

nav ul li a img {
  width: 30px;
  height: auto;
}

header hr {
  margin: 30px 150px;
  background: url(img/hr-img.png);
  height: 20px;
  border: none !important;
}

/* ----------- MAIN ---------- */
main {
  padding: 0 150px;
}

/* title section */
.title-section {
  display: flex;
  justify-content: space-between;
}

.title-section div h2 {
  font-family: "Oswald", sans-serif;
  font-size: 3em;
  margin: 0;
}
.title-section div p {
  text-transform: uppercase;
  font-family: "Cairo", sans-serif;
  font-size: 1em;
  margin-top: -10px;
  margin-bottom: 0;
}

.title-section aside {
  align-self: flex-end;
}

.title-section aside img {
  width: 15px;
  height: auto;
}

.title-section aside p {
  display: inline;
  text-transform: uppercase;
  font-family: "Cairo", sans-serif;
  font-size: 0.9em;
}

/* choco Image */
.first-image-section img {
  margin: 30px 0;
  width: 100%;
  height: auto;
}

/* Paragraphes section */
.paragraphes-section p {
  font-size: 1.5em;
  font-family: "Times New Roman", serif;
  font-weight: 100;
  text-indent: 40px;
  margin: 30px 0;
  line-height: 35px;
  color: rgb(91, 84, 93);;
}

/* list image section */
.second-image-section {
  position: relative;
}
.second-image-section img {
  width: 100%;
  margin-top: 30px;
}

.second-image-section form fieldset:first-child {
  position: absolute;
  top: 65px;
  left: 70px;
  font-size: 1.7em;
  font-family: "Patrick Hand", cursive;
  border: 0;
  color: rgb(107, 103, 110);
}

.second-image-section form fieldset:first-child input,
label {
  margin: 10px 0;
}

.second-image-section form fieldset:nth-child(2) {
  position: absolute;
  top: 65px;
  right: 140px;
  font-size: 1.7em;
  font-family: "Patrick Hand", cursive;
  border: 0;
  color: rgb(107, 103, 110);
}

.second-image-section form fieldset:nth-child(2) input,
label {
  margin: 10px 0;
}

main hr {
  margin: 50px 0;
  background: url(img/hr-img.png);
  height: 20px;
  border: none !important;
}

/* The third section */

.third-section {
  display: grid;
  grid-template-columns: auto auto auto;
  /* background-color: #2196f3; */
  padding: 10px;
}

.third-section img {
  width: 90px;
  height: auto;
  
}


.third-section div:nth-child(2){
  
  margin-left: -50px;

}

.third-section div h2 {
  font-family: "Lora", serif;
  font-size: 1.5em;
  margin-top: 0;
  color: rgb(91, 84, 93);
}

.third-section div p {
  font-family: "Lora", serif;
  font-size: 1.2em;
  margin-top: -10px;
  line-height: 30px;
  color: rgb(91, 84, 93);
  font-weight: 200;
}

.third-section  button {
  padding: 15px 40px;
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: "Cairo", sans-serif;
  background-color: rgb(198, 108, 79);
  border: 0;
  color: #fff;
  align-self: start;
  width: fit-content;
  margin-left: auto;
  margin-right: 0;
  cursor: pointer;
 
}


/* Footer section */
footer div:first-child{
  padding: 30px 140px;
  display: flex;
  align-items: center;
}
footer div span{
  background-color: rgb(91, 84, 93);
  height: .5px;
  width: 100%;
  opacity: .2;
}
footer div img{
  width: 80px;
  height: auto;
  margin: 10px;
}

footer div p{
  text-align: center;
  margin-top: 0;
  font-size: 1.1em;
  font-family: "Lora", serif;
  color: rgb(91, 84, 93);
  opacity: .5;
}

footer div:nth-child(2){
 width: fit-content;
 margin-left:  auto;
 margin-right: auto;
 margin-top: 0;
 margin-bottom: 70px;
}